 <p><% @answers.each do |answer| %></p>
    <p><%= answer.body %> <%= answer.user_id %> | <%= answer.created_at %></p>

    <form action='/question/:id/answers' method='POST'>
      <input type='text' name='body' placeholder='Have an answer?'>
      <input id='reply' type='submit' value='REPLY'>
    </form>

<p><% end %></p>



