      <div id='answerForm'>
        <form action='/questions/<%= @question.id %>/answers' method='POST'>
          <input type='text' name='body' placeholder='Have an answer?'>
          <input id='reply' type='submit' value='REPLY'>
        </form>
      </div>

